<div class="container mt-5">
  <div style="display: flex">
    <a
      href="/admin/create"
      class="btn btn-primary"
      style="margin-top: auto; margin-right: 10px; margin-bottom: 10px"
      >Thêm bài viết</a
    >
  </div>
  <div class="row">
    <% listnews.forEach(card => { %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card" style="width: 100%">
        <div style="position: relative; width: 100%; padding-top: 75%">
          <img
            src="<%= card.img %>"
            class="card-img-top"
            style="
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            "
          />
        </div>
        <div
          class="card-body"
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <h5
            class="card-title"
            style="
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              min-height: 3em;
              max-height: 3em;
              line-height: 1.5em;
            "
          >
            <%= card.title %>
          </h5>
          <!-- <p class="card-text"><%= card.text %></p> -->
          <div style="display: flex; justify-content: space-between">
            <a
              href="/admin/update/<%= card.id %>"
              class="btn btn-primary"
              style="margin-top: auto; width: 45%"
              >Sửa</a
            >
            <div style="width: 45%">
              <button
                style="width: 100%"
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Xóa
              </button>
            </div>
          </div>
          <div>
            <a
              href="/admin/<%= card.id %>"
              class="btn btn-secondary"
              style="margin-top: auto; width: 100%; margin-top: 5px"
              >Xem chi tiết</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Bạn muốn xóa bài viết chứ!
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body"><%- card.title %></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Đóng
            </button>
            <button data-id="<%= card.id %>" id="deleteNews" type="button" class="btn btn-danger">
              Xóa
            </button>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<script>
  $("#deleteNews").on("click", function (e) {
    e.preventDefault();
    const newsId = this.getAttribute('data-id');
    $.ajax({
      url: `/admin/delete/${newsId}`,
      type: 'POST',
      success: function(data){
        window.location.href = '/admin';
      },
      error: function(xhr){
        console.log(xhr);
      }
    })
  });
</script>
